<kendo-appbar class="app-bar" [position]="'top'" [positionMode]="'fixed'">
  <kendo-appbar-section>
    <a routerLink="/"
      ><img src="assets/img/bh_logo.png" alt="Banjo Health Home"
    /></a>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section>
    <kendo-menu>
      <kendo-menu-item text="SOLUTIONS">
        <kendo-menu-item text="Harmony PA"></kendo-menu-item>
        <kendo-menu-item text="Virtuoso AI"></kendo-menu-item>
        <kendo-menu-item text="Concerto Suite"></kendo-menu-item>
      </kendo-menu-item>
      <kendo-menu-item text="COMPANY">
        <kendo-menu-item text="Our Story"></kendo-menu-item>
        <kendo-menu-item text="Leadership & Advisory Board"></kendo-menu-item>
        <kendo-menu-item text="Careers"></kendo-menu-item>
        <kendo-menu-item text="Contact Us"></kendo-menu-item>
      </kendo-menu-item>
      <kendo-menu-item text="CUSTOMERS">
        <kendo-menu-item text="Why Banjo?"></kendo-menu-item>
        <kendo-menu-item text="Markets Served"></kendo-menu-item>
      </kendo-menu-item>
      <kendo-menu-item text="LATEST NEWS"></kendo-menu-item>
    </kendo-menu>
  </kendo-appbar-section>

  <kendo-appbar-spacer [width]="'10px'"></kendo-appbar-spacer>
</kendo-appbar>
