.app-bar {
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}

.drop-down {
  flex-direction: column;
}

.dd-item {
  align-items: center;
}

.k-menu:not(.k-context-menu) > .k-item .k-menu-link {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.k-menu-expand-arrow {
  visibility: hidden;
}
