footer {
  display: flex;
  height: 100%;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

li::marker,
.left-footer-item {
  content: ">";
}

.container {
  height: 400px;
  background-color: rgb(42, 234, 228);
}

.footer-spacer {
  max-width: 20%;
}

.footer-item {
  align-self: center;
  justify-content: center;
  width: 30%;
  display: block;
  text-align: center;
}

.left-footer-item {
  text-align: left;
  width: 20%;
}

.right-footer-item {
  text-align: right;
  width: 20%;
}

.links {
  font-size: 20px;
  font-weight: 600;
}

.socials {
  margin: 20px;
}

.center-title,
.center-subtitle {
  font-weight: bolder;
  color: white;
}

.center-title {
  font-size: xxx-large;
}

.center-subtitle {
  font-size: x-large;
}

input.k-textbox {
  width: 80%;
  height: 100%;
}

button {
  margin: 10px;
  width: 30px;
  background-color: black;
  color: white;
  border: 0;
}
