<div class="container">
  <footer>
    <div class="footer-spacer"></div>
    <div class="footer-item left-footer-item">
      <ul class="links">
        <li><a [routerLink]="['/blog']">BLOG</a></li>
        <li><a [routerLink]="['/company']">CAREERS</a></li>
        <li
          href="mailto:Contact@BanjoHealth.com?Subject=Learn more about Banjo Health"
        >
          CONTACT
        </li>
      </ul>
    </div>
    <div class="footer-item">
      <div class="center-title">
        LEARN MORE
      </div>
      <div class="center-subtitle">Get the Latest News & Updates</div>
      <br />
      <div class="email-send">
        <form #emailForm="ngForm">
          <kendo-formfield>
            <input
              kendoTextBox
              placeholder="Email"
              type="email"
              name="emailBox"
              [(ngModel)]="email"
              #emailBox
              required
            />
            <kendo-formerror>Error: Email address is required</kendo-formerror>
            <button type="submit">></button>
          </kendo-formfield>
        </form>
      </div>
    </div>
    <div class="footer-item right-footer-item">
      <div class="socials">
        <a href="https://www.linkedin.com/company/banjo-health/">
          <kendo-svg-icon
            [icon]="icons.linkedin"
            [size]="'large'"
          ></kendo-svg-icon
        ></a>
      </div>
      <div class="socials">
        <a href="https://twitter.com/BanjoHealth">
          <kendo-svg-icon
            [icon]="icons.twitter"
            [size]="'large'"
          ></kendo-svg-icon
        ></a>
      </div>
      <div>©2019-{{ year }} Banjo Health</div>
    </div>
    <div class="footer-spacer"></div>
    <!-- <kendo-tilelayout
    [columns]="5"
    [rowHeight]="255"
    [resizable]="false"
    [reorderable]="false"
    [gap]="0"
  >
    <kendo-tilelayout-item title="Links" [col]="2" [colSpan]="1">
      <kendo-tilelayout-item-body>
        Links
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="ToTop" [col]="2" [colSpan]="1">
      <kendo-tilelayout-item-body>
        Back to top
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Links" [col]="3" [colSpan]="1">
      <kendo-tilelayout-item-body>
        Learn More
      </kendo-tilelayout-item-body>
      <kendo-tilelayout-item-body>
        Get the latest!
      </kendo-tilelayout-item-body>
      <kendo-tilelayout-item-body>
        Email Box
      </kendo-tilelayout-item-body>
      <kendo-tilelayout-item-body>
        Captcha
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Links" [col]="4" [colSpan]="1">
      <kendo-tilelayout-item-body>
        Social
      </kendo-tilelayout-item-body>
      <kendo-tilelayout-item-body>
        Date c
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item title="Visitors" [col]="4" [rowSpan]="2">
      <kendo-tilelayout-item-body>
        test
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item
      title="Users By Channel"
      [col]="1"
      [colSpan]="2"
      [rowSpan]="2"
    >
      <kendo-tilelayout-item-body>
        test
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item title="Bounce Rate" [col]="3">
      <kendo-tilelayout-item-body>
        <h3>55%</h3>
        <div>
          The percentage of all sessions on your site in which users viewed only
          a single page.
        </div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item
      title="Conversion This Month"
      [col]="3"
      [colSpan]="2"
    >
      <kendo-tilelayout-item-body>
        test
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->
    <!-- </kendo-tilelayout> -->
  </footer>
</div>
