.parallax {
  background-image: url("^assets/img/landing.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 1px;
  perspective-origin: 0 0;
}
