/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  background: white;
}

body,
html {
  height: 100%;
}
